<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>147090586620-smlr062atbf5u32ailp4i1emh7j1k2dl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.147090586620-smlr062atbf5u32ailp4i1emh7j1k2dl</string>
	<key>API_KEY</key>
	<string>AIzaSyDhgJg45tRrj5sB9GAHcFoI-mLO8s1aHP8</string>
	<key>GCM_SENDER_ID</key>
	<string>147090586620</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myMovies</string>
	<key>PROJECT_ID</key>
	<string>my-movies-c8495</string>
	<key>STORAGE_BUCKET</key>
	<string>my-movies-c8495.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:147090586620:ios:f32f0f62cb1dd2dcf31079</string>
</dict>
</plist>